{% extends "main.html" %}
{% block title %} List Viewer {% endblock %}
{% block body %}

<h1>{{name}}</h1>

<h2>Admins</h2>

<h3> Add Admin: </h3>
<form action="/team/add_admin" method="POST">
    <p><input type="hidden" name="name" value="{{id}}"/></p>
    <p><input type="text" name="candidate"/></p>
    <p><input type="submit" value="add"/></p>
</form>

<h3> Remove Admin: </h3>
<form action="/team/remove_admin" method="POST">
    <p><input type="hidden" name="name" value="{{id}}"/></p>
    <p><input type="text" name="candidate"/></p>
    <p><input type="submit" value="add"/></p>
</form>

<h2>Members</h2>

<h3> Add Admin: </h3>
<form action="/team/add_member" method="POST">
    <p><input type="hidden" name="name" value="{{id}}"/></p>
    <p><input type="text" name="candidate"/></p>
    <p><input type="submit" value="add"/></p>
</form>

<h3> Remove Admin: </h3>
<form action="/team/remove_member" method="POST">
    <p><input type="hidden" name="name" value="{{id}}"/></p>
    <p><input type="text" name="candidate"/></p>
    <p><input type="submit" value="add"/></p>
</form>
{% endblock %}