# Don't check in the local metadata file.
.DS_Store
.idea

# Don't check in the Emacs temp files
*~

# Don't check in test framework files
.attach_pid*

# Don't check IntelliJ module files
*.iml

# Don't check gradle build artifacts
cedar-java-hello-world/.gradle/*
cedar-java-hello-world/build/*
cedar-java-hello-world/.jqwik-database

# Don't check build files for cedar-rust-hello-world
cedar-rust-hello-world/Cargo.lock
cedar-rust-hello-world/target/*

# Don't check build files for tinytodo
tinytodo/Cargo.lock
tinytodo/target/*