name: Build and Test RustHelloWorld
on:
    workflow_call:
      inputs:
        cedar_policy_ref:
          required: false
          type: string
        cedar_examples_ref:
          required: false
          default: "main"
          type: string

jobs:
  build_and_test_rust_hello_world:
    name: rust-hello-world
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Checkout Cedar Examples
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar-examples
          ref: ${{ inputs.cedar_examples_ref }}
# If we passed a branch for cedar-policy, modify Cargo.toml to use that branch
      - name: Replace Crates dot IO with Github version
        if: "${{ inputs.cedar_policy_ref != '' }}"
        run: cd cedar-rust-hello-world && printf "\n[patch.crates-io]\ncedar-policy = { git = 'https://github.com/cedar-policy/cedar.git', ref = '${{ inputs.cedar_policy_ref }}'}" >> Cargo.toml
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: cargo fmt
        working-directory: ./cedar-rust-hello-world
        run: cargo fmt --all --check
      - name: cargo rustc
        working-directory: ./cedar-rust-hello-world
        run: RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - name: cargo test
        working-directory: ./cedar-rust-hello-world
        run: cargo test --verbose
      - name: cargo run
        working-directory: ./cedar-rust-hello-world
        run: cargo run --verbose
