name: Build and test TinyTodo
on:
    workflow_call:
      inputs:
        cedar_policy_ref:
          required: true
          type: string
        cedar_examples_ref:
          required: true
          type: string

jobs:
  build_and_test_tiny_todo:
    name: Build and test TinyTodo
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Checkout cedar-examples
        uses: actions/checkout@v6
        with:
          repository: cedar-policy/cedar-examples
          ref: ${{ inputs.cedar_examples_ref }}
      - name: Use the specified branch
        run: cd tinytodo && head -n -2 Cargo.toml > Temp.toml && mv Temp.toml Cargo.toml && printf 'rev = "${{ inputs.cedar_policy_ref }}"' >> Cargo.toml
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }} && rustup component add rustfmt
      - name: cargo fmt
        working-directory: ./tinytodo
        run: cargo fmt --all --check
      - name: cargo rustc
        working-directory: ./tinytodo
        run: |
             RUSTFLAGS="-D warnings -F unsafe-code" cargo build --verbose
      - name: cargo test
        working-directory: ./tinytodo
        run: cargo test --verbose
      - name: cargo test templates
        working-directory: ./tinytodo
        run: cargo test --verbose --features=use-templates
      - name: python test
        working-directory: ./tinytodo
        run: |
          cargo build --release
          python3 -m unittest
      - name: python test templates
        working-directory: ./tinytodo
        run: |
          cargo build --release --features=use-templates
          python3 -m unittest
