name: Build and test Java example
on:
  workflow_call:
    inputs:
      cedar_java_ref:
        required: true
        type: string
      cedar_examples_ref:
        required: true
        type: string

jobs:
  build_and_test_java_hello_world:
    name: Build and test Java example
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Checkout cedar-examples
        uses: actions/checkout@v4
        with:
          repository: cedar-policy/cedar-examples
          ref: ${{ inputs.cedar_examples_ref }}
      - name: Checkout cedar-java
        uses: actions/checkout@v4
        with:
          repository: cedar-policy/cedar-java
          ref: ${{ inputs.cedar_java_ref }}
          path: ./cedar-java-hello-world/cedar-java
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: Build CedarJavaFFI
        working-directory: ./cedar-java-hello-world/cedar-java/CedarJavaFFI
        run: cargo build
      - name: Build cedar-java-hello-world
        working-directory: ./cedar-java-hello-world
        run: bash config.sh && ./gradlew build
      - name: Run cedar-java-hello-world
        working-directory: ./cedar-java-hello-world
        run: ./gradlew test
