name: Run Example Use Cases
on:
    workflow_call:
      inputs:
        cedar_policy_ref:
          required: false
          type: string
        cedar_examples_ref:
          required: false
          default: "main"
          type: string

jobs:
  run_example_use_cases:
    name: example-use-cases
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - name: Checkout Cedar Examples
        uses: actions/checkout@v3
        with:
          repository: cedar-policy/cedar-examples
          ref: ${{ inputs.cedar_examples_ref }}
      - name: rustup
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: build cli
        working-directory: ./cedar
        run: cargo build --bin cedar
      - name: run validation and authorization
        working-directory: ./cedar-example-use-cases
        run: |
             export PATH="$PWD/../cedar/target/debug/":$PATH
             echo $PATH
             ./run.sh
      - name: run validation and authorization for cedar-policy-language-in-action
        working-directory: ./cedar-policy-language-in-action
        run: |
             export PATH="$PWD/../cedar/target/debug/":$PATH
             echo $PATH
             ./run.sh
